.speech-list-item {
  &:hover {
    cursor: pointer;
    color: black !important;
    background-color: #f8f9fa;
  }

  span.keywords {
    font-size: 0.75rem;
  }

  p.author {
    font-size: 0.75rem;
  }

  h5.speech-title {
    font-family: "Libre Baskerville", serif;
    font-style: bold;
  }
}